* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body{
  margin: 0px;
  background-size: 100
}

.main-container {
  overflow: hidden;
}

.stage-container {
  width: 100vw;
  height: 100vh;
  margin:  0 auto;
  background-image: url(images/cute-stage.png);
  background-position:  center;
  background-size:  cover;
  position: relative;
  z-index: 0;
}


.dancing-space:before {
    content: "";
    display: block;
    position: relative;
    width: 100vw;
    height: 50vh;
}

.stage {
    width:  100vw;
    height:  50vh;
}

.btn-container {
  position: relative;
  z-index: 999;
}


body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border-radius:10px;
  position:absolute;
}

.pineapple-dancer .head-dancer{
  background: url(images/cute-pineapple.png) no-repeat center;
  background-size: contain;
  width:  100px;
  height:  100px;
}

.banana-dancer .head-dancer{
  background: url(images/banana.png) no-repeat center;
  background-size: contain;
  width:  100px;
  height:  100px;
}
